In [1]:
#importing pandas
import pandas as pd
#creating  list 
data=["Harry","Sam","Juliet","Robert","Max"]
#creating pandas Series
df=pd.Series(data)
#printing Series
print(df)

0     Harry
1       Sam
2    Juliet
3    Robert
4       Max
dtype: object

In [2]:
data= {"Name":["Harry","Sam","Juliet"],
       "Age":[25,28,31],
       "Salary": [30000,45000,25000]}
df = pd.DataFrame(data)
print(df)

     Name  Age  Salary
0   Harry   25   30000
1     Sam   28   45000
2  Juliet   31   25000

In [ ]:
data = pd.read_csv("path/FileName.csv")

In [ ]:
data = pd.read_excel("path/FileName.xlsx")

In [7]:
data= {"Name":["Harry","Sam","Juliet","satyam","Shivam","shubham","Shraddha","Varsha"],
       "Age":[25,28,31,21,18,16,7,42],
       "Salary": [30000,45000,25000,25000,65000,45000,32000,56000]}
df = pd.DataFrame(data)
print(df)
print(df.head(2))
print(df.tail(2))

       Name  Age  Salary
0     Harry   25   30000
1       Sam   28   45000
2    Juliet   31   25000
3    satyam   21   25000
4    Shivam   18   65000
5   shubham   16   45000
6  Shraddha    7   32000
7    Varsha   42   56000
    Name  Age  Salary
0  Harry   25   30000
1    Sam   28   45000
       Name  Age  Salary
6  Shraddha    7   32000
7    Varsha   42   56000

In [8]:
print(df.info)

<bound method DataFrame.info of        Name  Age  Salary
0     Harry   25   30000
1       Sam   28   45000
2    Juliet   31   25000
3    satyam   21   25000
4    Shivam   18   65000
5   shubham   16   45000
6  Shraddha    7   32000
7    Varsha   42   56000>

In [9]:
print(df.describe)

<bound method NDFrame.describe of        Name  Age  Salary
0     Harry   25   30000
1       Sam   28   45000
2    Juliet   31   25000
3    satyam   21   25000
4    Shivam   18   65000
5   shubham   16   45000
6  Shraddha    7   32000
7    Varsha   42   56000>

In [15]:
#Handling Duplicates
data= {"Name":["Harry","Sam","Juliet","Harry"],
       "Age":[25,28,31,32],
       "Salary": [30000,45000,25000,30000]}
df = pd.DataFrame(data)
print(df["Name"].duplicated().sum())

1

In [18]:
data= {"Name":["Harry","Sam","Juliet","Harry"],
       "Age":[25,28,31,32],
       "Salary": [30000,45000,25000,30000]}
df = pd.DataFrame(data)
print(df.drop_duplicates("Name"))

     Name  Age  Salary
0   Harry   25   30000
1     Sam   28   45000
2  Juliet   31   25000

In [25]:
data= {"Name":["Harry","Sam","Juliet","Harry","NaN"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,45000]}
df = pd.DataFrame(data)
print(df)

     Name  Age  Salary
0   Harry   25   30000
1     Sam   28   45000
2  Juliet   31   25000
3   Harry   32   30000
4     NaN   76   45000

In [28]:
print(df.isnull().sum())

Name      0
Age       0
Salary    0
dtype: int64

In [26]:
print(df.dropna())

     Name  Age  Salary
0   Harry   25   30000
1     Sam   28   45000
2  Juliet   31   25000
3   Harry   32   30000
4     NaN   76   45000

In [27]:
import numpy as np
print(data.replace(np.nan,hi))

AttributeError: 'dict' object has no attribute 'replace'

In [30]:
data= {"Name":["Harry","Sam","Juliet","Harry","NaN"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,0]}
df = pd.DataFrame(data)
df.loc[(df["Salary"] == 0), "Get Salary"] = "No salary"
df.loc[(df["Salary"] > 0), "Get Salary"] = "salary"
print(df)

     Name  Age  Salary Get Salary
0   Harry   25   30000     salary
1     Sam   28   45000     salary
2  Juliet   31   25000     salary
3   Harry   32   30000     salary
4     NaN   76       0  No salary

In [36]:
data= {"First Name":["Harry","Sam","Juliet","Harry","Kiran"],
       "Last Name":["Sharma","Tiwari","Singh","Yadav","Kumar"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,45000]}
df = pd.DataFrame(data)
print(df)
df["Full Name"] = df["First Name"].str.upper() +" "+ df["Last Name"].str.upper()
print(df)

  First Name Last Name  Age  Salary
0      Harry    Sharma   25   30000
1        Sam    Tiwari   28   45000
2     Juliet     Singh   31   25000
3      Harry     Yadav   32   30000
4      Kiran     Kumar   76   45000
  First Name Last Name  Age  Salary     Full Name
0      Harry    Sharma   25   30000  HARRY SHARMA
1        Sam    Tiwari   28   45000    SAM TIWARI
2     Juliet     Singh   31   25000  JULIET SINGH
3      Harry     Yadav   32   30000   HARRY YADAV
4      Kiran     Kumar   76   45000   KIRAN KUMAR

In [37]:
data= {"First Name":["Harry","Sam","Juliet","Harry","Kiran"],
       "Last Name":["Sharma","Tiwari","Singh","Yadav","Kumar"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,45000]}
df = pd.DataFrame(data)
print(df)

df["Bonus"] = (df["Salary"]/100)*20
print(df)

  First Name Last Name  Age  Salary
0      Harry    Sharma   25   30000
1        Sam    Tiwari   28   45000
2     Juliet     Singh   31   25000
3      Harry     Yadav   32   30000
4      Kiran     Kumar   76   45000
  First Name Last Name  Age  Salary   Bonus
0      Harry    Sharma   25   30000  6000.0
1        Sam    Tiwari   28   45000  9000.0
2     Juliet     Singh   31   25000  5000.0
3      Harry     Yadav   32   30000  6000.0
4      Kiran     Kumar   76   45000  9000.0

In [40]:
data= {"Name":["Harry","Samsham","Juliet","Harry","Kiran"]}

df = pd.DataFrame(data)
print(df)

def extract(value):
    return value[0:3]

df["Short_Names"] = df["Name"].map(extract)
print(df)

      Name
0    Harry
1  Samsham
2   Juliet
3    Harry
4    Kiran
      Name Short_Names
0    Harry         Har
1  Samsham         Sam
2   Juliet         Jul
3    Harry         Har
4    Kiran         Kir

In [45]:
data= {"First Name":["Harry","Sam","Juliet","Harry","Kiran"],
       "Last Name":["Sharma","Tiwari","Singh","Yadav","Kumar"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,45000]}
df = pd.DataFrame(data)
print(df)

gp = df.groupby("Salary",).agg({"First Name":"count"})
print(gp)

  First Name Last Name  Age  Salary
0      Harry    Sharma   25   30000
1        Sam    Tiwari   28   45000
2     Juliet     Singh   31   25000
3      Harry     Yadav   32   30000
4      Kiran     Kumar   76   45000
        First Name
Salary
25000            1
30000            2
45000            2

In [46]:
data1= {"Last Name":["Sharma","Tiwari","Singh","Yadav","Kumar"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,45000]}

data2= {"First Name":["Harry","Sam","Juliet","Harry","Kiran"],
       "Age":[25,28,31,32,76],
       "Salary": [30000,45000,25000,30000,45000]}

df = pd.DataFrame(data)
df = pd.DataFrame(data)

print(df)
print()
print(df)

  First Name Last Name  Age  Salary
0      Harry    Sharma   25   30000
1        Sam    Tiwari   28   45000
2     Juliet     Singh   31   25000
3      Harry     Yadav   32   30000
4      Kiran     Kumar   76   45000

  First Name Last Name  Age  Salary
0      Harry    Sharma   25   30000
1        Sam    Tiwari   28   45000
2     Juliet     Singh   31   25000
3      Harry     Yadav   32   30000
4      Kiran     Kumar   76   45000

In [49]:
print(pd.merge(data1,data2,on = "Name"))

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed